<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div th:replace="fragments.html :: school-banner"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2><a th:href="@{'/school/' + ${school.path}}"><span th:text="${school.title}">교회학교</span></a> / 새 학생 만들기</h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                ...
            </table>
        </div>
        
        
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-10" th:action="@{'/school/' + ${school.path} + '/new-student'}"
                  th:object="${studentForm}" method="post" novalidate>
                <div class="form-row">
<!--                    <div class="form-group col-md-3">-->
<!--                        <div class="card text-center">-->
<!--                            <div class="card-header">-->
<!--                                프로필 이미지-->
<!--                            </div>-->
<!--                            <div id="current-profile-image" class="mt-3">-->
<!--&lt;!&ndash;                                <svg th:if="${#strings.isEmpty(profile.profileImage)}" class="rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                                     th:data-jdenticon-value="${account.email}" width="125" height="125"></svg>&ndash;&gt;-->
<!--                                <img th:if="${!#strings.isEmpty(studentForm.profileImage)}" class="rounded"-->
<!--                                     th:src="${studentForm.profileImage}"-->
<!--                                     width="125" height="125" alt="name" th:alt="${studentForm.studentName}"/>-->
<!--                            </div>-->
<!--                            <div id="new-profile-image" class="mt-3"></div>-->
<!--                            <div class="card-body">-->
<!--                                <div class="custom-file">-->
<!--                                    <input type="file" class="custom-file-input" id="profile-image-file">-->
<!--                                    <label class="custom-file-label" for="profile-image-file">프로필 이미지 변경</label>-->
<!--                                </div>-->
<!--                                <div id="new-profile-image-control" class="mt-3">-->
<!--                                    <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>-->
<!--                                    <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>-->
<!--                                    <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>-->
<!--                                </div>-->
<!--                                <div id="cropped-new-profile-image" class="mt-3"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group col-md-3">
                        <label for="studentName">학생 이름</label>
                        <input id="studentName" type="text" th:field="*{studentName}" class="form-control"
                               placeholder="학생 이름" aria-describedby="studentNameHelp" required>
                        <small id="studentNameHelp" class="form-text text-muted">
                            학생 이름을 20자 이내로 입력하세요.
                        </small>
                        <small class="invalid-feedback">학생 이름을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}">Error</small>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="gender">성</label>
                        <select th:field="*{gender}"  class="custom-select mr-sm-2" id="gender" aria-describedby="genderHelp">
                            <option th:value="MALE">남자</option>
                            <option th:value="FEMALE">여자</option>
                        </select>
                        <small id="genderHelp" class="form-text text-muted">
                            성별을 선택하세요
                        </small>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="phoneNumber">연락처</label>
                        <input id="phoneNumber" type="text" th:field="*{phoneNumber}" class="form-control" placeholder="01012341111"
                               aria-describedby="phoneNumberHelp">
                        <small id="phoneNumberHelp" class="form-text text-muted">
                            연락처를 숫자만 입력하세요.
                        </small>
                        <small class="invalid-feedback">연락처를 숫자만 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Error</small>
                    </div>                    
                    <div class="form-group col-md-3">
                        <label for="birthday">생년월일</label>
                        <input id="birthday" type="datetime-local" th:field="*{birthday}" class="form-control"
                               aria-describedby="birthdayHelp" required>
                        <small id="birthdayHelp" class="form-text text-muted">
                            생년월일을 입력하세요.
                        </small>
                        <small class="invalid-feedback">생년월일을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Error</small>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="nameOfSchool">학교</label>
                        <input id="nameOfSchool" type="text" th:field="*{nameOfSchool}" class="form-control" placeholder="은혜고등학교"
                               aria-describedby="nameOfSchoolHelp">
                        <small id="nameOfSchoolHelp" class="form-text text-muted">
                            출석하는 학교를 입력하세요.
                        </small>
                        <small class="invalid-feedback">출석하는 학교를 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nameOfSchool')}" th:errors="*{nameOfSchool}">Error</small>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="residence">거주</label>
                        <input id="residence" type="text" th:field="*{residence}" class="form-control" placeholder="서울시 강남구 개포동"
                               aria-describedby="residenceHelp">
                        <small id="residenceHelp" class="form-text text-muted">
                            거주지를 동(도로명)까지만 입력하세요.
                        </small>
                        <small class="invalid-feedback">거주지를 동(도로명)까지만 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('residence')}" th:errors="*{residence}">Error</small>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="parents">부모님 성함</label>
                        <input id="parents" type="text" th:field="*{parents}" class="form-control" placeholder="송미나"
                               aria-describedby="parentsHelp">
                        <small id="parentsHelp" class="form-text text-muted">
                            부모님 성함을 입력하세요.
                        </small>
                        <small class="invalid-feedback">부모님 성함을 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('parents')}" th:errors="*{parents}">Error</small>
                    </div>
                    <div class="form-group col-md-3">
                    <label for="phoneNumberOfParents">부모님 연락처</label>
                    <input id="phoneNumberOfParents" type="text" th:field="*{phoneNumberOfParents}" class="form-control" placeholder="01012341111"
                           aria-describedby="phoneNumberOfParentsHelp">
                    <small id="phoneNumberOfParentsHelp" class="form-text text-muted">
                        부모님 연락처를 숫자만 입력하세요.
                    </small>
                    <small class="invalid-feedback">부모님 연락처를 숫자만 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumberOfParents')}" th:errors="*{phoneNumberOfParents}">Error</small>
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="teacherEmail">담당 선생님</label>
                        <div id="whitelist" th:text="${whitelist}" hidden></div>
                        <input id="teacherNameEmail" type="text" class="selectMode" placeholder="Please select">
                        <input type="hidden" id="teacherEmail" th:field="*{teacherEmail}" name="teacherEmail" aria-describedby="teacherNameEmailHelp">
                        <small id="teacherEmailHelp" class="form-text text-muted">
                            담당 선생님을 선택하세요.
                        </small>
                        <small class="invalid-feedback">해당 교회학교 구성원만 입력할 수 있습니다.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('teacherEmail')}" th:errors="*{teacherEmail}">Error</small>
                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="description">학생 설명</label>-->
<!--                    <textarea id="description" type="textarea" th:field="*{description}" class="editor form-control"-->
<!--                              placeholder="학생을 자세히 설명해 주세요." aria-describedby="descriptionHelp" required></textarea>-->
<!--                    <small id="descriptionHelp" class="form-text text-muted">-->
<!--                        학생에서 다루는 주제, 장소, 진행 방식 등을 자세히 적어 주세요.-->
<!--                    </small>-->
<!--                    <small class="invalid-feedback">학생 설명을 입력하세요.</small>-->
<!--                    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</small>-->
<!--                </div>-->
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary btn-block" type="submit"
                                    aria-describedby="submitHelp">학생 등록</button>
<!--                            <input type="submit" value="학생 등록" onclick='javascript: form.action="@{'/school/' + ${school.path} + '/new-student'}";'/>-->
                        </div>
                        <div class="form-group col-md-6">
                            <button class="btn btn-success btn-block" type="submit"
                                    aria-describedby="submitHelp">학생 등록 후 추가 등록</button>
                            <!--<input type="submit" value="학생 등록 후 추가 등록" onclick="javascript: form.action='/manage/delete';"/>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    
    <script th:replace="fragments.html :: form-validation"></script>
    <script th:replace="fragments.html :: editor-script"></script>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript">

        $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });

            $(function() {
                var schoolPath = "[(${school.path})]";
                function tagRequest(url, teacherEmail) {
                    $.ajax({
                        dataType: "json",
                        autocomplete: {
                            enabled: true,
                            rightKey: true,
                        },
                        contentType: "application/json; charset=utf-8",
                        method: "POST",
                        url: "/school/" + schoolPath + "//new-student/tags" + url,
                        data: JSON.stringify({'teacherEmail': teacherEmail})
                    }).done(function (data, status) {
                        console.log("${data} and status is ${status}");
                    });
                }

                var input = document.querySelector("#teacherNameEmail"),
                    tagify = new Tagify(input, {
                        mode : "select",
                        whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                        blacklist: ['foo', 'bar'],
                        keepInvalidTags: true,   // do not auto-remove invalid tags
                        dropdown: {
                            // closeOnSelect: false
                        }
                    });

// bind events
                tagify.on('add', onAddTag)
                tagify.DOM.input.addEventListener('focus', onSelectFocus)

                function onAddTag(e){
                    console.log(e.detail)
                }

                function onSelectFocus(e){
                    console.log(e)
                }
                // add a class to Tagify's input element
                tagify.DOM.input.classList.add('form-control');
                // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
                tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);

            });

        $("#teacherNameEmail").on("propertychange change keyup paste input", function () {
            var teacherNameEmailVar = $("#teacherNameEmail").val();
            // alert(teacherNameEmailVar);
            var start = teacherNameEmailVar.indexOf("(");
            var end = teacherNameEmailVar.indexOf(")", start+1);
            var teacherEmail = teacherNameEmailVar.substring(start+1, end);
            // alert(teacherEmail);
            $("#teacherEmail").val(teacherEmail);

        })


    </script>
</body>
</html>