<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div th:replace="fragments.html :: school-banner"></div>

    <div class="container">
    <!--TODO 출석부 화면 및 기능 구현
        1. 도메인에 필요 요소
            1. 학생 이름
            2. 담당 선생님
            3. 공과공부
            4. 성경읽기 or QT
            5. 추가달란트 : 예정
            6. 총 달란트 : 예정
            7. 한주 한줄 코멘트
            8. 출석률
                1. 올해 기준 현재 전 주까지 계산
                2. 새해가 되면 다시 계산
                3. 학생 세부로 가면 토탈 출석률 보여줘도 괜찮을 듯
                4. 도중에 새로 온 학생은 그 때부터 계산
        2. 화면
            1. 학생주소록과 비슷한 방식 but 체크박스가 주를 이룬다.
            2. 출석부 뷰 전체보기만 제공
                1. 나의 반 보기는 어디서든 접근 가능(교회학교 우측 상단 & 교회학교 홈 화면)
            3. 체크 시 ajax로 값 보내기
            4. 현재 날짜 기준으로 돌아오는 주와 지난 4주의 출석부 탭으로 보여준다? -->

        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: date-time"></script>
</body>
</html>